<!DOCTYPE html>
<html>
    <head>
        <title>Pagina Principal</title><link rel="stylesheet" href="styles\pp.css">
    </head>
    <body>
        <header>
            <div id="boton">
                <a href="/login" class="button" size="90" >Cerrar Sesion</a>
            </div>
            <div id="texto">
                <h1>Bienvenido a tu sistema de asistencia PAE</h1>
            </div>
        </header>
        <br><br>
        <div id="botones">
            <button class="botonp">
                <h2>Registrar</h2>
                <a href="/registro" class="imagesa">
                    <img src="images/prototipo_pp1.png">
                </a>
            </button>
            <button class="botonp">
                <h2>Validar asistencia</h2>
                <a href="/ValidarAsistencia" class="imagesa">
                    <img src="images/documento.png" alt="">
                </a>
            </button>
            <button class="botonp">
                <h2>Generar reporte</h2>
                <a href="/GenerarReporte" class="imagesa">
                    <img src="images/prototipo_pp2.png" alt="">
                </a>
            </button>
            <br>

                <h2></h2>
                <a href="/EliminarUsuario" class="">Eliminar usuario</a>

        </div>
        <footer>
            <div id="frase">
                <h3> "No hay amor mas sincero que el amor por la comida"</h3>
            </div>
        </footer>

    </body>
</html>